@media (min-width: 1000px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-top: 180px;
  }
  .tema2_img,
  .tema3_img,
  .tema4_img,
  .tema5_img {
    order: 1;
  }
  .mig,
  .semester1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .tema2_note_long h3,
  .tema3_note h3,
  .tema3_note_long h3,
  .tema4_note h3,
  .tema4_note_long h3,
  .tema5_note_long h3,
  .mig h3,
  .semester1 h3 {
    font-size: 1.5rem;
  }

  main {
    margin-inline: 10%;
  }
  .portfolio {
    width: 60%;
    margin: 20px auto 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio img {
    width: 100%;
    height: auto;
    display: block;
  }

  .menu_desktop {
    margin-bottom: 70px;
  }
  .mapper {
    display: grid;
  }

  .layer-1,
  .layer-2,
  .layer-3,
  .layer-4,
  .layer-5,
  .layer-6 {
    width: 60%;
    place-self: center;
  }
  .text_layer-1 {
    top: 25%;
  }
  .text_layer-1 h1 {
    font-size: 3rem;
  }
  .text_layer-2,
  .text_layer-3,
  .text_layer-4,
  .text_layer-5 {
    font-size: 1.5rem;
  }

  .text_layer-2 {
    left: 12%;
    top: 5%;
  }
  .text_layer-4 {
    left: 14%;
    top: 4%;
  }
  .text_layer-3 {
    left: 77%;
    top: 5%;
  }
  .text_layer-5 {
    left: 76%;
    top: 4%;
  }
  h1 {
    font-size: 3.5rem;
    padding-bottom: 40px;
  }

  .tema4_h1 {
    font-size: 3rem;
  }

  .tema4_h1 span {
    font-size: 3.5rem;
  }

  .ommig_h1 {
    font-size: 4rem;
  }

  .ned_afsnit {
    padding-top: 70px;
  }

  .tema2 {
    background-image: url(illutrationer/tema2_folder.svg);
  }
  .tema3 {
    background-image: url(illutrationer/tema3_folder.svg);
  }
  .tema4 {
    background-image: url(illutrationer/tema4_folder.svg);
  }
  .tema5 {
    background-image: url(illutrationer/tema5_folder.svg);
  }
  .tema2,
  .tema3,
  .tema4,
  .tema5 {
    background-position: center;
    width: 100%;
    display: grid;
    justify-content: center;
  }
  .tema2 h2,
  .tema4 h2 {
    font-size: 25px;
    font-weight: 500;
    padding-left: 27px;
  }

  .tema2 h3,
  .tema4 h3 {
    margin: 0;
    padding-left: 0;
    font-size: 20px;
    font-weight: 500;
  }

  .tema3 h2,
  .tema5 h2 {
    padding-top: 15px;
    padding-right: 27px;
    font-size: 20px;
    font-weight: 500;
    font-size: 25px;
    max-width: 65ch;
  }

  .tema3 h3,
  .tema5 h3 {
    margin: 0;
    padding-left: 0;
    font-size: 20px;
    font-weight: 500;
  }
  .tema_tekst p {
    max-width: 65ch;
  }

  .tema2_note,
  .tema3_note,
  .tema4_note,
  .tema5_note {
    padding-right: 70px;
    padding-left: 90px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .tema2_note_long,
  .tema3_note_long,
  .tema4_note_long {
    padding-right: 70px;
    padding-left: 90px;
    padding-top: 70px;
    padding-bottom: 80px;
  }

  .tema2_img,
  .tema2_img_galleri,
  .tema3_img,
  .tema3_img_galleri,
  .tema4_img,
  .tema4_img_galleri,
  .tema5_img,
  .tema5_img_galleri {
    width: 100%;
    margin-top: 40px;
  }

  .mig,
  .semester1 {
    background-image: url(illutrationer/SVG/notepink_desk2.svg);
  }

  .kompetencer {
    margin-top: 100px;
  }

  .ikoner {
    width: 25%;
  }
  .skala {
    width: 80%;
    margin: 0;
  }

  .portrait_wrapper {
    width: 40%;
  }
  .om_mig {
    left: 54%;
    bottom: 5%;
  }
  .om_mig p {
    font-size: 1.5rem;
  }
  footer {
    margin-top: 250px;
  }

  footer a {
    width: 40%;
  }
  .notes {
    width: 110%;
  }
  .kontakt {
    margin-top: -18%;
  }
  .kontakt_text {
    margin-top: -78%;
    left: 4%;
  }
  .kontakt p {
    font-size: 1.7rem;
  }
  .kontakt h5 {
    font-size: 2.4rem;
    padding-bottom: 40px;
  }

  .tema2_site {
    background-image: url(illutrationer/link2_tema2.svg);
  }
  .tema3_site {
    background-image: url(illutrationer/link2_tema3.svg);
  }
  .tema4_site {
    background-image: url(illutrationer/link2_tema4.svg);
  }
  .tema5_site {
    background-image: url(illutrationer/link2_tema5.svg);
  }

  .tema2_site,
  .tema3_site,
  .tema4_site,
  .tema5_site {
    background-size: 20%;
    background-position: center;
    padding-block: 80px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: -50px;
  }

  .tekst_header h2 {
    font-size: 2.5rem;
  }

  .tema2_site a,
  .tema3_site a,
  .tema4_site a,
  .tema5_site a {
    text-decoration: none;
    font-family: var(--font-family-tekst);
    font-size: 1.8rem;
    color: rgb(66, 66, 66);
    font-weight: 600;
  }
}
