@media (min-width: 1000px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .tema2_img {
    order: 1;
  }
  main {
    margin-inline: 10%;
  }
  .portfolio {
    width: 60% !important; /* Keeps your preferred 60% size */
    margin: 20px auto 0 auto !important;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio img {
    width: 100% !important;
    height: auto !important;
    display: block;
  }

  .menu_desktop {
    margin-bottom: 70px;
  }
  .mapper {
    display: grid;
  }

  .layer-1,
  .layer-2,
  .layer-3,
  .layer-4,
  .layer-5,
  .layer-6 {
    width: 60%;
    place-self: center;
  }
  .text_layer-1 {
    top: 15%;
  }
  .text_layer-1 h1 {
    font-size: 3rem;
  }
  .text_layer-2,
  .text_layer-3,
  .text_layer-4,
  .text_layer-5 {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3rem;
    padding-block: 40px;
  }

  .tema2 {
    background-image: url(illutrationer/tema2_folder.svg);
  }
  .tema3 {
    background-image: url(illutrationer/tema3_folder.svg);
  }
  .tema4 {
    background-image: url(illutrationer/tema4_folder.svg);
  }
  .tema5 {
    background-image: url(illutrationer/tema5_folder.svg);
  }
  .tema2,
  .tema3,
  .tema4,
  .tema5 {
    background-position: center;
    width: 100%;
    display: grid;
    justify-content: center;
  }
  .tema2 h2,
  .tema4 h2 {
    font-size: 25px;
    font-weight: 500;
    padding-left: 28px;
  }

  .tema2 h3,
  .tema4 h3 {
    margin: 0;
    padding-left: 0;
    font-size: 20px;
    font-weight: 500;
  }

  .tema3 h2,
  .tema5 h2 {
    padding-top: 15px;
    font-size: 20px;
    font-weight: 500;
    padding-left: 73%;
  }

  .tema3 h3,
  .tema5 h3 {
    padding-top: 30px;
    padding-left: 14px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
  }
  .tema_tekst p {
    max-width: 65ch;
  }

  .tema4 footer {
    margin-top: 150px;
  }

  footer a {
    width: 40%;
  }
  .notes {
    width: 110%;
  }
  .kontakt {
    margin-top: -15%;
  }
  .kontakt_text {
    margin-top: -78%;
    left: 4%;
  }
  .kontakt p {
    font-size: 1.7rem;
  }
  .kontakt h5 {
    font-size: 2.4rem;
    padding-bottom: 40px;
  }
}
