/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

p,
li {
  text-wrap: pretty;
}

/*************** Farver & Fonts *********************/
:root {
  /* Fonts */
  --font-family-navn: "Indie Flower", cursive;
  --font-family-tekst: "Sometype Mono", monospace;
  --font-family-header: "Sniglet", system-ui;

  /* Farver */
  --color-background: #f8fdff;
  --color-navn: #9e2828;
  --color-nav: #9ab182;
}

/*************** General *********************/

body {
  background-color: var(--color-background);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100svh;
}

main {
  margin-inline: 4%;
}

h1 {
  text-align: center;
  font-family: var(--font-family-header);
  color: #9ab182;
  margin-top: 70px;
  margin-bottom: 80px;
  font-size: 32px;
}

p {
  font-family: var(--font-family-tekst);
  font-size: 16px;
  line-height: 1.6rem;
  max-width: 45ch;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.afsnit {
  padding-bottom: 10px;
}

/*************** Header *********************/

/*** Portfolio Header Mobil ***/

.portfolio {
  width: 95%;
  place-self: center;
  margin-top: 4%;
}

/*** Menu Desktop ***/

.menu_desktop {
  display: flex;
  width: 56%;
  max-width: 1068px;
  margin: 15px auto 40px auto;
  justify-content: space-between;
  align-items: center;
}

.navn_desktop {
  font-family: var(--font-family-navn);
  color: var(--color-navn);
  font-size: 3rem;
  margin: 0;
  padding-left: 0;
}

.navbar {
  overflow: hidden;
  font-family: var(--font-family-tekst);
  margin-left: 0;
}

.navbar a {
  float: left;
  font-size: 1.5rem;
  color: var(--color-nav);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*** Dropdown Menu ***/

.dropdown {
  float: left;
  overflow: hidden;
  z-index: 500;
}

.dropdown .dropbtn {
  font-size: 1.5rem;
  border: none;
  outline: none;
  color: var(--color-nav);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #bbda93;
  border-radius: 10px;
  color: #ffedf1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.dropdown-content a {
  float: none;
  color: var(--color-nav);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f795aa;
  color: #e7f7d4;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu_mobil {
  display: none;
}

/*** Menu Mobil ***/

@media screen and (max-width: 800px) {
  .navn_mobil {
    font-family: var(--font-family-navn);
    color: #9e2828;
    font-size: 35px;
    margin-left: 5%;
    margin-top: 2%;
  }

  .menu_mobil {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    list-style: none;
  }

  .menu li {
    margin-right: 20px;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu a {
    display: block;
    padding: 5%;
    font-family: var(--font-family-tekst);
    color: var(--color-nav);
    text-decoration: none;
    transition: color 0.3s;
    text-align: center;
  }

  .menu a:hover {
    background-color: #f795aa;
    color: #e7f7d4;
    border-radius: 10px;
  }

  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-right: 7%;
  }

  .burger .line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-nav);
    margin-bottom: 5px;
    transition: 0.2s linear;
  }

  .menu_desktop {
    display: none;
  }

  .menu {
    display: none;
  }

  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    border-radius: 10px;
    top: 20%;
    left: 65%;
    width: 30%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 7;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 20px;
  }
}

/*************** Forside *********************/

.mapper {
  position: relative;
  height: 100%;
  padding-top: 90px;
}

.layer-1 {
  position: absolute;
  bottom: 0;
  z-index: 6;
  width: 100%;
  aspect-ratio: 558.41/316.15;
}
.layer-2 {
  position: absolute;
  bottom: 0;
  z-index: 5;
  width: 100%;
  aspect-ratio: 558.41/348.58;
}
.layer-3 {
  position: absolute;
  bottom: 0;
  z-index: 4;
  width: 100%;
  aspect-ratio: 558.41/397.45;
}
.layer-4 {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
  aspect-ratio: 558.41/448.36;
}
.layer-5 {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  aspect-ratio: 558.41/496.61;
}
.layer-6 {
  z-index: 1;
  width: 100%;
  aspect-ratio: 558.41/517.25;
}

.text_layer-2,
.text_layer-3,
.text_layer-4,
.text_layer-5 {
  font-family: var(--font-family-tekst);
  color: #353535;
}
.text_layer-1 {
  position: absolute;
  bottom: 18%;
  left: 50%;
  rotate: 5deg;
}
.text_layer-1 h1 {
  font-size: 28px;
}
.text_layer-2 {
  position: absolute;
  top: 4%;
  left: 12%;
}
.layer-2:hover {
  bottom: 5%;
  transition: 0.5s;
}
.text_layer-3 {
  position: absolute;
  top: 4%;
  left: 76.5%;
}
.layer-3:hover {
  bottom: 5%;
  transition: 0.5s;
}
.text_layer-4 {
  position: absolute;
  top: 4%;
  left: 14%;
}
.layer-4:hover {
  bottom: 5%;
  transition: 0.5s;
}
.text_layer-5 {
  position: absolute;
  top: 3%;
  left: 75%;
}
.layer-5:hover {
  bottom: 5%;
  transition: 0.5s;
}

/*************** Projekt Sider/Tema Sider *********************/

/*** Tema 4 h1 ***/

.tema4_h1 {
  font-size: 28px;
}
.tema4_h1 span {
  font-size: 32px;
}

/*****************/

/*** Tema Formål & Overskifter ***/

.tema2 {
  background-image: url(illutrationer/SVG/pink2.svg);
  padding-bottom: 5px;
}
.tema3 {
  background-image: url(illutrationer/SVG/gul2.svg);
  padding-bottom: 130px;
}
.tema4 {
  background-image: url(illutrationer/SVG/darkpink2.svg);
  padding-bottom: 5px;
}
.tema5 {
  background-image: url(illutrationer/SVG/green2.svg);
  padding-bottom: 5px;
}
.tema2,
.tema3,
.tema4,
.tema5 {
  font-family: var(--font-family-tekst);
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.tema2 h2,
.tema4 h2 {
  max-width: 45ch;
  margin: 0 auto;
  text-align: left;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 45px;
  font-size: 24px;
  font-weight: 500;
}

.tema3 h2,
.tema5 h2 {
  max-width: 45ch;
  margin: 0 auto;
  text-align: right;
  box-sizing: border-box;
  padding-top: 15px;
  padding-right: 45px;
  font-size: 24px;
  font-weight: 500;
}

.tema2 h3,
.tema3 h3,
.tema4 h3,
.tema5 h3 {
  max-width: 45ch;
  margin: 0 auto;
  text-align: left;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 15px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}

.tema3_formol {
  padding-top: 90px;
}

/*** Tema Billeder & Tekst ***/

.tema2_img,
.tema2_img_galleri,
.tema3_img,
.tema3_img_galleri,
.tema4_img,
.tema4_img_galleri,
.tema5_img,
.tema5_img_galleri {
  background-image: url(images/folder.svg);
  background-repeat: no-repeat;
  margin-top: 150px;
  margin-bottom: 30px;
}

.tema2_note,
.tema3_note,
.tema4_note,
.tema5_note {
  background-image: url(illutrationer/SVG/notepink.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tema2_note_long,
.tema3_note_long,
.tema4_note_long,
.tema5_note_long,
.mig,
.semester1 {
  background-image: url(illutrationer/SVG/notepink.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 70px;
  padding-bottom: 80px;
}

.tekst_header h2 {
  font-family: var(--font-family-header);
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: -80px;
  color: #9ab182;
}

.tema2_note_long h3,
.tema3_note h3,
.tema3_note_long h3,
.tema4_note h3,
.tema4_note_long h3,
.tema5_note_long h3,
.mig h3,
.semester1 h3 {
  font-family: var(--font-family-header);
  font-size: 1.35rem;
  font-weight: 400;
  color: #9ab182;
  max-width: 45ch;
  margin: 0 auto;
  text-align: left;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 15px;
}

/*** Link Til Sites ***/

.tema2_site {
  background-image: url(illutrationer/link_tema2.svg);
}
.tema3_site {
  background-image: url(illutrationer/link_tema3.svg);
}
.tema4_site {
  background-image: url(illutrationer/link_tema4.svg);
}
.tema5_site {
  background-image: url(illutrationer/link_tema5.svg);
}

.tema2_site,
.tema3_site,
.tema4_site,
.tema5_site {
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  margin-bottom: 10px;
  margin-top: 70px;
  padding-inline: 50px;
  padding-block: 40px;
  text-align: center;
}

.tema2_site a,
.tema3_site a,
.tema4_site a,
.tema5_site a {
  text-decoration: none;
  font-family: var(--font-family-tekst);
  font-size: 20px;
  color: rgb(66, 66, 66);
  font-weight: 600;
}
.tema2_site a:hover {
  color: #f795aa;
}
.tema3_site a:hover {
  color: #f4d47b;
}
.tema4_site a:hover {
  color: #fa84a1;
}
.tema5_site a:hover {
  color: #8eaa6a;
}

/*************** Om Mig *********************/

.portrait_wrapper {
  display: block;
  margin-inline: auto;
  width: 80%;
  aspect-ratio: 557/657;
  height: auto;
}
.portrait_group {
  position: relative;
}
.portrait {
  position: absolute;
  width: 100%;
}
.pinkblomst {
  position: absolute;
  width: 100%;
}
.lillablomst {
  position: absolute;
  width: 100%;
}
.portrait_note {
  position: absolute;
  width: 100%;
}
.om_mig {
  position: absolute;
  bottom: 3%;
  left: 52%;
}
.om_mig p {
  font-family: var(--font-family-navn);
  font-size: 20px;
  font-weight: 600;
  line-height: 10px;
  letter-spacing: 4px;
  rotate: 4deg;
}
.gulblomst {
  position: absolute;
  width: 100%;
}

.mig {
  margin-top: 90px;
  margin-bottom: 90px;
}
.semester1 {
  margin-bottom: 90px;
}
.kompetencer {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  row-gap: 40px;
  align-items: center;
  justify-items: center;
  margin-right: 50px;
  margin-top: 60px;
}

.ikoner {
  width: 35%;
}

.mig h2,
.semester1 h2 {
  padding-bottom: 10px;
}

/*************** Footer *********************/

footer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  background-color: #d4ebc3;
  border-block: 1.5px solid #9ab486;
  justify-items: center;
  align-items: center;
  position: relative;
  margin-top: 140px;
  padding-block: 40px;
}

.notes {
  width: 90%;
  max-width: 500px;
  z-index: 50;
  rotate: 4deg;
  position: relative;
  justify-self: center;
}

.kontakt {
  font-weight: 400;
  margin-top: -70px;
}

.kontakt_text {
  position: relative;
  margin-top: -160px;
  left: 25px;
  z-index: 100;
}

.kontakt p {
  font-family: var(--font-family-navn);
  font-size: 20px;
  line-height: 1rem;
}

.kontakt h5 {
  font-family: var(--font-family-navn);
  font-size: 28px;
  letter-spacing: 4px;
  font-weight: 400;
  rotate: -10deg;
  padding-bottom: 30px;
  padding-left: 10px;
}

footer a {
  width: 70%;
}
